@import 'vars';

:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #F7F7F7;
    --hospital-green: #acd9b2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #e9e6e6;
}

.product-detail {
    width: 360px;
    padding: 24px;
    position: absolute;
    right: 0;
    box-sizing: border-box;
}

.tittle-container {
    display: flex;
}

.tittle-container img {
    transform: rotate(180deg);
    margin-right: 14px;
}

.tittle {
    font-size: var(--lg);
    font-weight: bold;
}

.order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;

}

.order p:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
}

.order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
}

.shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;

}

.shopping-cart figure {
    margin: 0;

}

.shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.shopping-cart p:nth-child(2) {
    color: var(--very-light-pink)
}

.shopping-cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
}

.primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}


/* .dots {
    text-align: center;
}
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 20px;
    background-color: var(--very-light-pink);
    border-radius: 50%;
    display: inline-block;
}

.dots span:nth-child(1){
    background-color: var(--hospital-green);
} */

@media (max-width: 640px) {
    .product-detail {
        width: 100%;
    }
}